<div id="<%= dom_id todo_item %>">
  <p>
    <strong>Description:</strong>
    <%= todo_item.description %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= todo_item.done %>
  </p>

  <p>
    <strong>Todo list:</strong>
    <%= todo_item.todo_list_id %>
  </p>

</div>
